<div class="liner"></div>
<div class="container">
  <a [routerLink]="['/protected']">
    <h2><md-icon class="link">navigate_before</md-icon>ToDo List</h2>
  </a>
  <h2 class="text-center">ToDo</h2>
  <md-card>
    <md-card-subtitle>
      {{(todo | async)?.date}}
      <span class="pull-right">
        <md-icon>done</md-icon>
      </span>
    </md-card-subtitle>
    <div class="clearfix"></div>
    <md-card-title>{{(todo | async)?.title}}</md-card-title>
  </md-card>
  <h2 class="text-center">Track Progress</h2>
  <md-card *ngFor="let comment of comments | async">
    <md-card-subtitle>
      Sat Aug 20 2016
      <span class="pull-right">
        <md-icon>edit</md-icon>
        <md-icon>clear</md-icon>
      </span>
    </md-card-subtitle>
    <div class="clearfix"></div>
    <md-card-content>{{comment?.text}}</md-card-content>
  </md-card>

  <md-card>
    <md-card-subtitle class="text-uppercase">Comment your progress</md-card-subtitle>
    <div class="clearfix"></div>
    <form [formGroup]="CommentsForm"
          (ngSubmit)="submitCommentsForm(todo?.$key);">
      <md-input #comment
                formControlName="comment"
                placeholder="Comment"
                [dividerColor]="(!CommentsForm.find('comment').valid && !CommentsForm.find('comment').pristine) ? 'warn':'primary'">
        <md-hint align="end">{{comment.characterCount}} / 250</md-hint>
      </md-input>
      <div class="pull-right">
        <button md-button
                md-raised-button
                color="primary"
                [disabled]="!CommentsForm.valid">Save</button>
        <button md-button
                color="primary">Cancel</button>
      </div>
      <div class="clearfix"></div>
    </form>
  </md-card>
</div>
