<div class="liner"></div>
<div class="container">
  <a [routerLink]="['/protected']">
    <h2><md-icon class="link">navigate_before</md-icon>ToDo List</h2>
  </a>
  <h2 class="text-center">ToDo</h2>
  <md-progress-circle mode="indeterminate"
                      color="primary"
                      *ngIf="todo == null">
  </md-progress-circle>
  <md-card *ngIf="todo != null">
    <md-card-subtitle>
      {{todo?.date}}
      <span class="pull-right">
        <md-icon class="action primary" (click)="doneToDo(todo?.$key);">done</md-icon>
      </span>
    </md-card-subtitle>
    <div class="clearfix"></div>
    <md-card-title>{{todo?.title}}</md-card-title>
  </md-card>
  <h2 class="text-center" *ngIf="todo != null">Track Progress</h2>
  <div *ngFor="let comment of comments | async">
    <md-card *ngIf="comment != null">
      <md-card-subtitle>
        {{comment?.date}}
        <span class="pull-right">
        <md-icon class="action" (click)="editComment(comment?.$key);">edit</md-icon>
        <md-icon class="action warn" (click)="deleteComment(comment?.$key);">clear</md-icon>
      </span>
      </md-card-subtitle>
      <div class="clearfix"></div>
      <md-card-content>{{comment?.text}}</md-card-content>
    </md-card>
  </div>
  <md-card *ngIf="todo != null">
    <md-card-subtitle class="text-uppercase">Comment your progress</md-card-subtitle>
    <div class="clearfix"></div>
    <form [formGroup]="CommentForm"
          (ngSubmit)="submitCommentForm();">
      <md-input #comment
                formControlName="comment"
                placeholder="Comment"
                [ngModel]="commentObj?.text"
                [dividerColor]="(!CommentForm.find('comment').valid && !CommentForm.find('comment').pristine) ? 'warn':'primary'">
        <md-hint align="end">{{comment.characterCount}} / 250</md-hint>
      </md-input>
      <div class="pull-right">
        <button md-button
                md-raised-button
                color="primary"
                [disabled]="!CommentForm.valid">Save</button>
        <button md-button
                (click)="onCancel($event);"
                color="primary">Cancel</button>
      </div>
      <div class="clearfix"></div>
    </form>
  </md-card>
</div>
