<div class="container">
  <h2 class="text-center">ToDo List</h2>
  <button md-fab
          color="primary"
          (click)="openModal();">
    <md-icon>add</md-icon>
  </button>
  <md-list>
    <div *ngFor="let todo of todos">
      <md-list-item>
        <md-icon md-list-icon (click)="doneToDo(todo?.$key);">done</md-icon>
        <p md-line>{{todo?.date}}</p>
        <h2 md-line>{{todo?.title}}</h2>
        <a [routerLink]="['/protected', todo?.$key]">
          <md-icon class="action">description</md-icon>
        </a>
        <md-icon class="action">edit</md-icon>
        <md-icon class="action warn" (click)="deleteToDo(todo?.$key);">clear</md-icon>
      </md-list-item>
    </div>
  </md-list>
</div>
<div class="modal"
     *ngIf="modalDisplay != 'none'"
     [ngStyle]="{'display': 'modalDisplay'}">
  <md-toolbar fullscreen>
    <h4>Create New ToDo</h4>
    <span class="example-fill-remaining-space"></span>
    <button md-icon-button
            (click)="closeModal();">
      <md-icon>close</md-icon>
    </button>
  </md-toolbar>
  <div class="container">
    <form [formGroup]="ToDoForm"
          (ngSubmit)="createToDo();">
      <div>
        <md-input #title
                  formControlName="title"
                  placeholder="Title"
                  [dividerColor]="(!ToDoForm.find('title').valid && !ToDoForm.find('title').pristine) ? 'warn':'primary'">
          <md-hint align="end">{{title.characterCount}} / 25</md-hint>
        </md-input>
      </div>
      <div>
        <md-input #description
                  formControlName="description"
                  placeholder="Description"
                  [dividerColor]="(!ToDoForm.find('description').valid && !ToDoForm.find('description').pristine) ? 'warn':'primary'">
          <md-hint align="end">{{description.characterCount}} / 100</md-hint>
        </md-input>
      </div>
      <div class="button-group pull-right">
        <button md-button
                md-raised-button
                color="primary"
                [disabled]="!ToDoForm.valid">Save</button>
        <button md-button
                color="primary"
                (click)="onCancel($event);">Cancel</button>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
