<div class="liner"></div>
<div class="container">
  <h2 class="text-center">ToDo List</h2>
  <button md-fab
          color="primary"
          (click)="openModal();">
    <md-icon>add</md-icon>
  </button>
  <md-progress-circle mode="indeterminate"
                      color="primary"
                      *ngIf="isLoading();">
  </md-progress-circle>
  <div *ngIf="(todos)?.length == 0 ? true : false;">
    <img class="empty" src="./img/empty.svg" alt="Empty ToDo List"/>
    <h3 class="text-center">Your ToDo List is empty</h3>
    <p class="text-center">So, you are either the greatest workaholic ever, or as lazy as a sloth!</p>
  </div>
  <md-list>
    <div *ngFor="let todo of todos">
      <md-list-item>
        <md-icon md-list-icon (click)="doneToDo(todo?.$key);">done</md-icon>
        <p md-line>{{todo?.date}}</p>
        <h2 md-line class="{{todo?.priority}}">{{todo?.title}}</h2>
        <a [routerLink]="['/protected', todo?.$key]">
          <md-icon class="action">comment</md-icon>
        </a>
        <md-icon class="action" (click)="openModal(todo?.$key);">edit</md-icon>
        <md-icon class="action warn" (click)="deleteToDo(todo?.$key);">clear</md-icon>
      </md-list-item>
    </div>
  </md-list>
</div>
<div class="modal"
     *ngIf="modalDisplay != 'none'"
     [ngStyle]="{'display': 'modalDisplay'}">
  <md-toolbar fullscreen>
    <h4>Create New ToDo</h4>
    <span class="example-fill-remaining-space"></span>
    <button md-icon-button
            (click)="closeModal();">
      <md-icon>close</md-icon>
    </button>
  </md-toolbar>
  <div class="container">
    <form [formGroup]="ToDoForm"
          (ngSubmit)="submitToDoForm();">
      <div>
        <md-input #title
                  formControlName="title"
                  placeholder="Title"
                  [ngModel]="todo?.title"
                  [dividerColor]="(!ToDoForm.find('title').valid && !ToDoForm.find('title').pristine) ? 'warn':'primary'">
          <md-hint align="end">{{title.characterCount}} / 25</md-hint>
        </md-input>
      </div>
      <p>Priority</p>
      <div>
        <input type="radio" name="priority" [checked]="(todo?.priority == 'neutral') || true"
               (click)="chagePriority('neutral');">
        <span class="neutral">Not a priority</span>
      </div>
      <div>
        <input type="radio" name="priority" [checked]="(todo?.priority == 'primary')"
               (click)="chagePriority('primary');">
        <span class="primary">Important</span>
      </div>
      <div>
        <input type="radio" name="priority" [checked]="(todo?.priority == 'warn')"
               (click)="chagePriority('warn');">
        <span class="warn">Urgent</span>
      </div>
      <div class="button-group pull-right">
        <button md-button
                md-raised-button
                color="primary"
                [disabled]="!ToDoForm.valid && !priority.checked">Save</button>
        <button md-button
                color="primary"
                (click)="onCancel($event);">Cancel</button>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
