button[md-fab] {
  display: block;
  margin: 0 auto;
}
img.empty {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 24px;
}
md-list {
  margin-top: 24px;
}
md-list div {
  border-top: 1px solid rgba(0,0,0,.08);
}
md-list div:first-child {
  border-top: 1px solid transparent;
}
md-list div:hover {
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  border-top: 1px solid transparent;
  background-color: rgba(255,255,255,1);
}
md-list h2,
md-list p {
  color: rgba(0,0,0,.54);
}
md-list h2 {
  font-size: large;
}
md-list p {
  font-size: small;
}
md-list md-icon[md-list-icon] {
  cursor: pointer;
  padding: 8px;
  color: rgba(0,0,0,.54);
}
md-list md-icon[md-list-icon]:hover {
  color: rgba(0,150,136,1);
  background-color: rgba(0,150,136,.08);
}
md-list md-icon.action:not(:first-child) {
  margin-left: 8px;
}
md-list md-icon.action:last-child {
  margin-right: 4px;
}
md-list md-icon.action {
  cursor: pointer;
  color: rgba(0,0,0,.54);
  padding: 8px;
  border-radius: 100%;
}
md-list md-icon.action:hover {
  background-color: rgba(0,0,0,.08);
}
md-list md-icon.warn:hover {
  color: rgba(244,67,54,1) !important;
  background-color: rgba(244,67,54,.08);
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  background-color: rgba(245,245,245,1);
  opacity: 1;
  animation-name: openModal;
  animation-timing-function: ease-out;
  animation-duration: .15s;
  z-index: 9999;
}
@keyframes openModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal h4,
.modal button md-icon {
  color: rgba(0,150,136,1);
}
.modal form {
  display: block;
  margin: 0 auto;
}
.modal form * {
  font-weight: 300 !important;
}
.modal form .button-group {
  margin-top: 32px;
}
.modal form md-input {
  width: 100%;
  color: rgba(0,0,0,.54) !important;
}
.modal form p {
  color: rgba(0,0,0,.54) !important;
}
input[type='radio'] {
  /*display: none;*/
}

input[type='radio'] + label {

}
input[type='radio']:checked + label {

}
