header, main {
  padding: 56px 0;
}
header {
  background-color: rgba(0,149,135,1);
}
header *, main * {
  box-sizing: border-box;
  color: rgba(255,255,255,1);
}
header p {
  text-indent: 36px;
}
main * {
  color: rgba(0,0,0,.54);
}
img.technologies {
  position: relative;
  display: block;
  margin: 0 auto;
}
