<header>
  <div class="container">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <h1 class="text-center">ToDo App as a student project</h1>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12">
      <p>As a student at ICT College, I decided to put an extra effort and try to develop an Angular2 SPA for my final project. Technologies I picked (see the items below), are not the part of a regular curriculum, so for me it was kind of a risky journey towards unknown. But, it was worth it. I learned so much.</p>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12">
      <p>Although Angular2 final version is not ready yet, and I had to consequently work with multiple alpha, beta and RC versions, I was still able to grasp it's huge potential and have all intentions to dive deeper into it, along with Reactive programing in general.</p>
    </div>
  </div>
</header>
<main>
  <div class="container">
    <div class="col-lg-4 col-md-4 col-xs-12">
      <img class="technologies" src="./img/angular2.svg" alt="Angular2"/>
      <h2 class="text-center">Angular2</h2>
      <p class="text-center">Cross-platform framework for robust and fast Single Page Apps.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
      <img class="technologies" src="./img/firebase.svg" alt="Firebase"/>
      <h2 class="text-center">Firebase</h2>
      <p class="text-center">Backend as a Cloud with NoSql database and Auth service.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
      <img class="technologies" src="./img/webstorm.svg" alt="WebStorm"/>
      <h2 class="text-center">WebStorm</h2>
      <p class="text-center">Fantastic and very powerful IDE for JavaScript development.</p>
    </div>
  </div>
</main>
<web-footer></web-footer>
