<header>
  <div class="container">
    <div class="col-lg-8 col-md-8 col-xs-12">
      <h1>Hi, my name is Iva</h1>
      <h2>I'm a Web Developer</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
      <img class="profile" src="./img/profile.jpg" alt="Iva Dopudj"/>
    </div>
  </div>
</header>
<main>
  <div class="container">
    <div class="col-lg-4 col-md-4 col-xs-12">
      <img class="technologies" src="./img/angular2.svg" alt="Angular2"/>
      <h2 class="text-center">Angular2</h2>
      <p class="text-center">Cross-platform framework for robust and fast Single Page Apps.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
      <img class="technologies" src="./img/firebase.svg" alt="Firebase"/>
      <h2 class="text-center">Firebase</h2>
      <p class="text-center">Backend as a Cloud with NoSql database and Auth service.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
      <img class="technologies" src="./img/webstorm.svg" alt="WebStorm"/>
      <h2 class="text-center">WebStorm</h2>
      <p class="text-center">Fantastic and very powerful IDE for JavaScript development.</p>
    </div>
  </div>
</main>
