header, main {
  padding: 64px 0;
}
header {
  background-color: rgba(0,149,135,1);
}
header *, main * {
  box-sizing: border-box;
  color: rgba(255,255,255,1);
}
header button {
  background-color: rgba(79,186,111,1);
  padding: 8px 24px;
  margin-bottom: 64px;
}
main * {
  color: rgba(0,0,0,.54);
}
img.devices {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
}
img.actions {
  position: relative;
  display: block;
  margin: 0 auto;
}
