<header>
  <div class="container">
    <div class="col-lg-6 col-md-6 col-xs-12">
      <h1>ToDo App</h1>
      <h2>Simple ToDo List to get You organized</h2>
      <button md-raised-button class="text-uppercase">Get started</button>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12">
      <img class="devices" src="./img/devices.svg" alt="Devices"/>
    </div>
  </div>
</header>
<main>
  <div class="container">
    <div class="col-lg-4 col-md-4 col-xs-12">
      <img class="actions" src="./img/create.svg" alt="Devices"/>
      <h2 class="text-center">Add ToDo</h2>
      <p class="text-center">Make a simple ToDo List by adding ToDo items, one by one.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
      <img class="actions" src="./img/track.svg" alt="Devices"/>
      <h2 class="text-center">Track progress</h2>
      <p class="text-center">Add comments to keep track of each individual item on the list.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
      <img class="actions" src="./img/done.svg" alt="Devices"/>
      <h2 class="text-center">Mark done</h2>
      <p class="text-center">When it's done, archive it with a single click, never to look back.</p>
    </div>
  </div>
</main>
