header {
  padding: 56px 0;
}
header {
  background-color: rgba(0,149,135,1);
}
header * {
  box-sizing: border-box;
  color: rgba(255,255,255,1);
}
img.google {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  margin-right: 8px;
  padding: 8px 0;
}
button[md-raised-button].lite {
  color: rgba(0,0,0,.54);
  text-transform: uppercase;
  padding: 8px 16px;
}
