md-sidenav-layout {
  background: rgba(0,0,0,0.08);
}
.example-fill-remaining-space {
  flex: 1 1 auto;
}
a[md-list-item] {
  cursor: pointer;
  text-decoration: none;
}
a[md-list-item] * {
  color: rgba(0,0,0,0.8);
}
a[md-list-item]:hover * {
  color: rgba(0,150,136,1);
}
h3.title {
  cursor: default;
  padding-left: 16px;
}
h4.link {
  cursor: pointer;
}
