<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav>
    <md-toolbar color="primary">
      <button md-icon-button (click)="sidenav.close();">
        <md-icon>chevron_left</md-icon>
      </button>
      <h3 class="title">Menu</h3>
    </md-toolbar>
    <md-list>
      <a md-list-item
         [routerLink]="['home']"
         [routerLinkActive]="['is-active']"
         (click)="sidenav.close();">
        <md-icon md-list-icon>home</md-icon>
        <span md-line>Home</span>
        <span md-line class="lite">Back to basics</span>
      </a>
      <a md-list-item
         *ngIf="isAuth();"
         [routerLink]="['protected']"
         [routerLinkActive]="['is-active']"
         (click)="sidenav.close();">
        <md-icon md-list-icon>view_list</md-icon>
        <span md-line>ToDo List</span>
        <span md-line class="lite">Let's get productive!</span>
      </a>
      <a md-list-item
         [routerLink]="['about']"
         [routerLinkActive]="['is-active']"
         (click)="sidenav.close();">
        <md-icon md-list-icon>info_outline</md-icon>
        <span md-line>About</span>
        <span md-line class="lite">Aren't you curious?</span>
      </a>
    </md-list>
  </md-sidenav>
  <md-toolbar color="primary" fullscreen>
    <button md-icon-button (click)="sidenav.open();">
      <md-icon>menu</md-icon>
    </button>
    <h3 class="title link" [routerLink]="['home']">ToDo App</h3>
    <span class="example-fill-remaining-space"></span>
    <span *ngIf="isAuth();">
      <img class="avatar" src="{{authService.getUser().photoURL}}">
    </span>
    <h4 class="link" *ngIf="isAuth();" (click)="onLogout();">Logout</h4>
    <h4 class="link" *ngIf="!isAuth();" [routerLink]="['login']">Login</h4>
  </md-toolbar>
  <router-outlet></router-outlet>
</md-sidenav-layout>
