<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav>
    <md-toolbar color="primary">
      <button md-icon-button (click)="sidenav.close();">
        <md-icon>chevron_left</md-icon>
      </button>
      <h3 class="title">Menu</h3>
    </md-toolbar>
    <md-list>
      <a md-list-item
         [routerLink]="['home']"
         (click)="sidenav.close();">
        <md-icon md-list-icon>home</md-icon>
        <span md-line>Home</span>
        <span md-line>Back to basics</span>
      </a>
      <a md-list-item
         *ngIf="isAuth();"
         [routerLink]="['protected']"
         (click)="sidenav.close();">
        <md-icon md-list-icon>view_list</md-icon>
        <span md-line>ToDo List</span>
        <span md-line>Let's get productive!</span>
      </a>
      <a md-list-item
         *ngIf="isAuth();"
         (click)="onLogout(); sidenav.close();">
        <md-icon md-list-icon>power_settings_new</md-icon>
        <span md-line>Logout</span>
        <span md-line>Enough work for today?</span>
      </a>
      <a md-list-item
         *ngIf="!isAuth();"
         [routerLink]="['login']"
         (click)="sidenav.close();">
        <md-icon md-list-icon>launch</md-icon>
        <span md-line>Login</span>
        <span md-line>Feeling productive today?</span>
      </a>
      <a md-list-item
         [routerLink]="['about']"
         (click)="sidenav.close();">
        <md-icon md-list-icon>info_outline</md-icon>
        <span md-line>About</span>
        <span md-line>Aren't you curious?</span>
      </a>
    </md-list>
  </md-sidenav>
  <md-toolbar color="primary" fullscreen>
    <button md-icon-button (click)="sidenav.open();">
      <md-icon>menu</md-icon>
    </button>
    <h3 class="title">My App</h3>
  </md-toolbar>
  <router-outlet></router-outlet>
</md-sidenav-layout>
