md-sidenav-layout {
  background: rgba(0,0,0,.08);
}
a[md-list-item] {
  cursor: pointer;
  text-decoration: none;
}
a[md-list-item].is-active {
  cursor: default;
}
a[md-list-item] * {
  color: rgba(0,0,0,.54);
}
a[md-list-item]:hover * {
  color: rgba(0,150,136,.87);
}
a[md-list-item].is-active * {
  color: rgba(0,0,0,.87);
}
span[md-line].lite {
  font-weight: 300 !important;
}
h3.title {
  font-weight: 400 !important;
  margin-left: 8px;
}
h3.link, h4.link {
  cursor: pointer;
}
md-toolbar {
  position: relative;
  box-shadow: 0px 2px 4px rgba(0,0,0,.4);
  z-index: 999;
}
.avatar {
  width: 32px;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 16px;
}
